---

import Seo from '../../../components/Seo.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('editorial', ({ data }) => !data.draft);

  const sortedPosts = posts.sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  );

  const PAGE_SIZE = 7;
  const pages = Math.ceil(sortedPosts.length / PAGE_SIZE);

  return Array.from({ length: pages - 1 }, (_, i) => {
    const page = i + 2;

    return {
      params: { page: String(page) },
      props: {
        pagePosts: sortedPosts.slice((page - 1) * PAGE_SIZE, page * PAGE_SIZE),
        currentPage: page,
        totalPages: pages,
      },
    };
  });
}

const { pagePosts, currentPage, totalPages } = Astro.props;


const seoTitle = `Editorial — Page ${currentPage} | Underground Music Squad`;
const seoDescription = `Page ${currentPage} of Underground Music Squad editorial: independent music reviews, interviews, weekly tracks and underground discoveries.`;
const seoPath = `/editorial/page/${currentPage}`;
const seoKeywords = ['underground music editorial', 'music reviews', 'music interviews', 'new music'];
const editorialPageJsonLd = {
  '@context': 'https://schema.org',
  '@type': 'CollectionPage',
  name: seoTitle,
  description: seoDescription,
  url: `https://undergroundmusic.party${seoPath}`,
};

const breadcrumbJsonLd = {
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: [
    {
      '@type': 'ListItem',
      position: 1,
      name: 'Home',
      item: 'https://undergroundmusic.party/',
    },
    {
      '@type': 'ListItem',
      position: 2,
      name: 'Editorial',
      item: 'https://undergroundmusic.party/editorial',
    },
    {
      '@type': 'ListItem',
      position: 3,
      name: `Page ${currentPage}`,
      item: `https://undergroundmusic.party${seoPath}`,
    },
  ],
};

const [post, ...otherPosts] = pagePosts;

const leftPosts = otherPosts.filter((_, i) => i % 2 === 0);
const rightPosts = otherPosts.filter((_, i) => i % 2 === 1);

const categoryLabels = {
  'track-of-the-day': 'Track of the Day',
  'track-of-the-week': 'Track of the Week',
  'track-of-the-month': 'Track of the Month',
  interview: 'Interview',
  review: 'Review',
  'featured-album': 'Featured Album',
};

const formatDate = (date) =>
  date.toLocaleDateString('en-US', {
    day: '2-digit',
    month: 'short',
    year: 'numeric',
  });
---


<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light only" />
		<Seo title={seoTitle} description={seoDescription} path={seoPath} keywords={seoKeywords} jsonLd={[editorialPageJsonLd, breadcrumbJsonLd]} />
		<link href="https://fonts.googleapis.com/css2?display=swap&family=Instrument+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:ital,wght@0,400;1,400" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/editorial/main.css" />
		<noscript><link rel="stylesheet" href="/assets/editorial/noscript.css" /></noscript>
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-main" role="main">
				<div class="inner">
					<hr id="divider07" class="divider-component instance-7 style-7">
					<div id="container01" class="container-component instance-1 style-1 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									<h1 id="text40" class="text-component instance-40 style-14">UNDERGROUND</h1>
									<h2 id="text02" class="text-component instance-2 style-18">MUSIC</h2>
									<h1 id="text03" class="text-component instance-3 style-16">SQUAD</h1>
								</div>
								<div>
									<h1 id="text41" class="text-component instance-41 style-19">SINCE 2020</h1>
									<h1 id="text42" class="text-component instance-42 style-20">SINCE 2020</h1>
									<h1 id="text43" class="text-component instance-43 style-21">SINCE 2020</h1>
									<h1 id="text08" class="text-component instance-8 style-22">SINCE 2020</h1>
								</div>
							</div>
						</div>
					</div>
					<ul id="buttons02" class="buttons-component instance-2 style-3">
						<li>
							<a href="/editorial" class="n01" role="button">EDITORIAL</a>
						</li>
					</ul>
					<div id="container02" class="container-component instance-2 style-3 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									<h1 id="text94" class="text-component instance-94 style-26">psychedelic rock</h1>
									<h1 id="text83" class="text-component instance-83 style-26">synthwave</h1>
									<h1 id="text89" class="text-component instance-89 style-26">Experimental</h1>
									<h1 id="text93" class="text-component instance-93 style-26">postpunk</h1>
									<h1 id="text92" class="text-component instance-92 style-26">shoegaze</h1>
									<h1 id="text90" class="text-component instance-90 style-26">psychedelic</h1>
									<h1 id="text87" class="text-component instance-87 style-26">SYNTHPOP</h1>
									<h1 id="text85" class="text-component instance-85 style-26">Darkwave</h1>
								</div>
								<div>
									

                                    {post && (
                                    <>
{post.data.topLabel && (
                    <p id="text82" class="text-component instance-82 style-23">
    {post.data.topLabel}
  </p>
)}
                                    
                                    
									<p id="text38" class="text-component instance-38 style-9">{formatDate(post.data.date)}</p>
									<h1 id="text39" class="text-component instance-39 style-25">{post.data.title}</h1>
									<p id="text44" class="text-component instance-44 style-4">{post.data.description}</p>
									<div id="image07" class="image-component instance-7 style-1">
										<span class="frame"><img src={post.data.image} alt={post.data.title} /></span>
									</div>
									
											{post.data.music?.embed && (
  <div id="audio02" class="audio-component instance-2">
    <div class="frame">
      <iframe src={post.data.music.embed}></iframe>
    </div>
  </div>
)}
									
									
									<p id="text47" class="text-component instance-47 style-9">{categoryLabels[post.data.category]}</p>
									<p id="text45" class="text-component instance-45 style-6"><span class="p">
                                    <em>
                                    {post.data.genres.map((genre) => (
                                     <>
                                     {genre}<br />
                                      </>
                                     ))}
                                    </em></span></p>
									
{post.data.bottomLabel && (
  <p id="text75" class="text-component instance-75 style-23">
    {post.data.bottomLabel}
  </p>
)}


									<ul id="links08" class="links-component instance-8">
										<li class="n01">
											<a href={`/editorial/${post.id}`}>Read ⟶</a>
										</li>
									</ul>
                                    </>
                                    )}
								</div>
							</div>
						</div>
					</div>
					<div id="container04" class="container-component instance-4 style-1 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									
								</div>
								<div>
                                
                                

									{leftPosts[0] && (
  <>
<p id="text04" class="text-component instance-4 style-9">
                                    {formatDate(leftPosts[0].data.date)}
                                    </p>
									<h1 id="text15" class="text-component instance-15 style-12">
                                    {leftPosts[0].data.title}
                                    </h1>
									<p id="text26" class="text-component instance-26 style-4">
                                    {leftPosts[0].data.description}
                                    </p>
									<div id="image04" class="image-component instance-4 style-1">

										<span class="frame">
                                        <img src={leftPosts[0].data.image} alt={leftPosts[0].data.title} />
                                        </span> 
									
                                    </div>


                                
									{leftPosts[0].data.music?.embed && (
  <div id="audio04" class="audio-component instance-4">
    <div class="frame">
      <iframe src={leftPosts[0].data.music.embed}></iframe>
    </div>
  </div>
)}
									<p id="text01" class="text-component instance-1 style-6"><span class="p">
                                    <em>
                                      {leftPosts[0].data.genres.map((genre) => (
                                        <>
                                          {genre}<br />
                                        </>
                                      ))}
                                    </em>
                                    </span></p>
									<p id="text33" class="text-component instance-33 style-9">{categoryLabels[leftPosts[0].data.category]}</p>
									<ul id="links06" class="links-component instance-6">
										<li class="n01">
											<a href={`/editorial/${leftPosts[0].id}`}>Read ⟶</a>
										</li>
									</ul>
									{leftPosts[0].data.topLabel && (
                                      <p id="text48" class="text-component instance-48 style-23">
                                        {leftPosts[0].data.topLabel}
                                      </p>
)}
  </>
)}


{leftPosts[1] && (
  <>
<p id="text12" class="text-component instance-12 style-9">
  {formatDate(leftPosts[1].data.date)}
</p>

<h1 id="text13" class="text-component instance-13 style-12">
  {leftPosts[1].data.title}
</h1>

<p id="text16" class="text-component instance-16 style-4">
  {leftPosts[1].data.description}
</p>

<div id="image05" class="image-component instance-5 style-1">
  <span class="frame">
    <img src={leftPosts[1].data.image} alt={leftPosts[1].data.title} />
  </span>
</div>

{leftPosts[1].data.music?.embed && (
  <div id="audio05" class="audio-component instance-5">
    <div class="frame">
      <iframe src={leftPosts[1].data.music.embed}></iframe>
    </div>
  </div>
)}

<p id="text17" class="text-component instance-17 style-6">
  <span class="p">
    <em>
      {leftPosts[1].data.genres.map((genre) => (
        <>
          {genre}<br />
        </>
      ))}
    </em>
  </span>
</p>

<p id="text19" class="text-component instance-19 style-9">
  {categoryLabels[leftPosts[1].data.category]}
</p>

<ul id="links03" class="links-component instance-3">
  <li class="n01">
    <a href={`/editorial/${leftPosts[1].id}`}>Read ⟶</a>
  </li>
</ul>

{leftPosts[1].data.topLabel && (
  <p id="text20" class="text-component instance-20 style-23">
    {leftPosts[1].data.topLabel}
  </p>
)}
  </>
)}
									{leftPosts[2] && (
  <>
<p id="text28" class="text-component instance-28 style-9">
  {formatDate(leftPosts[2].data.date)}
</p>

<h1 id="text06" class="text-component instance-6 style-12">
  {leftPosts[2].data.title}
</h1>

<p id="text34" class="text-component instance-34 style-4">
  {leftPosts[2].data.description}
</p>

<div id="image03" class="image-component instance-3 style-1">
  <span class="frame">
    <img src={leftPosts[2].data.image} alt={leftPosts[2].data.title} />
  </span>
</div>

{leftPosts[2].data.music?.embed && (
  <div id="audio03" class="audio-component instance-3">
    <div class="frame">
      <iframe src={leftPosts[2].data.music.embed}></iframe>
    </div>
  </div>
)}

<p id="text35" class="text-component instance-35 style-6">
  <span class="p">
    <em>
      {leftPosts[2].data.genres.map((genre) => (
        <>
          {genre}<br />
        </>
      ))}
    </em>
  </span>
</p>

<p id="text36" class="text-component instance-36 style-9">
  {categoryLabels[leftPosts[2].data.category]}
</p>

<ul id="links04" class="links-component instance-4">
  <li class="n01">
    <a href={`/editorial/${leftPosts[2].id}`}>Read ⟶</a>
  </li>
</ul>

{leftPosts[2].data.topLabel && (
  <p id="text37" class="text-component instance-37 style-23">
    {leftPosts[2].data.topLabel}
  </p>
)}
  </>
)}


								</div>
								<div>
									{rightPosts[0] && (
  <>
<p id="text21" class="text-component instance-21 style-9">
  {formatDate(rightPosts[0].data.date)}
</p>

<h1 id="text25" class="text-component instance-25 style-12">
  {rightPosts[0].data.title}
</h1>

<p id="text14" class="text-component instance-14 style-4">
  {rightPosts[0].data.description}
</p>

<div id="image02" class="image-component instance-2 style-1">
  <span class="frame">
    <img src={rightPosts[0].data.image} alt={rightPosts[0].data.title} />
  </span>
</div>

{rightPosts[0].data.music?.embed && (
  <div id="audio01" class="audio-component instance-1">
    <div class="frame">
      <iframe src={rightPosts[0].data.music.embed}></iframe>
    </div>
  </div>
)}

<p id="text31" class="text-component instance-31 style-6">
  <span class="p">
    <em>
      {rightPosts[0].data.genres.map((genre) => (
        <>
          {genre}<br />
        </>
      ))}
    </em>
  </span>
</p>

<p id="text24" class="text-component instance-24 style-9">
  {categoryLabels[rightPosts[0].data.category]}
</p>

<ul id="links05" class="links-component instance-5">
  <li class="n01">
    <a href={`/editorial/${rightPosts[0].id}`}>Read ⟶</a>
  </li>
</ul>

{rightPosts[0].data.topLabel && (
  <p id="text46" class="text-component instance-46 style-23">
    {rightPosts[0].data.topLabel}
  </p>
)}
  </>
)}
									{rightPosts[1] && (
  <>
<p id="text05" class="text-component instance-5 style-9">
  {formatDate(rightPosts[1].data.date)}
</p>

<h1 id="text29" class="text-component instance-29 style-12">
  {rightPosts[1].data.title}
</h1>

<p id="text30" class="text-component instance-30 style-4">
  {rightPosts[1].data.description}
</p>

<div id="image06" class="image-component instance-6 style-1">
  <span class="frame">
    <img src={rightPosts[1].data.image} alt={rightPosts[1].data.title} />
  </span>
</div>

{rightPosts[1].data.music?.embed && (
  <div id="audio06" class="audio-component instance-6">
    <div class="frame">
      <iframe src={rightPosts[1].data.music.embed}></iframe>
    </div>
  </div>
)}

<p id="text27" class="text-component instance-27 style-6">
  <span class="p">
    <em>
      {rightPosts[1].data.genres.map((genre) => (
        <>
          {genre}<br />
        </>
      ))}
    </em>
  </span>
</p>

<p id="text32" class="text-component instance-32 style-9">
  {categoryLabels[rightPosts[1].data.category]}
</p>

<ul id="links02" class="links-component instance-2">
  <li class="n01">
    <a href={`/editorial/${rightPosts[1].id}`}>Read ⟶</a>
  </li>
</ul>

{rightPosts[1].data.topLabel && (
  <p id="text49" class="text-component instance-49 style-23">
    {rightPosts[1].data.topLabel}
  </p>
)}
  </>
)}

{rightPosts[2] && (
  <>
<p id="text23" class="text-component instance-23 style-9">
  {formatDate(rightPosts[2].data.date)}
</p>

<h1 id="text22" class="text-component instance-22 style-12">
  {rightPosts[2].data.title}
</h1>

<p id="text07" class="text-component instance-7 style-4">
  {rightPosts[2].data.description}
</p>

<div id="image01" class="image-component instance-1 style-1">
  <span class="frame">
    <img src={rightPosts[2].data.image} alt={rightPosts[2].data.title} />
  </span>
</div>

{rightPosts[2].data.music?.embed && (
  <div id="audio07" class="audio-component instance-7">
    <div class="frame">
      <iframe src={rightPosts[2].data.music.embed}></iframe>
    </div>
  </div>
)}

<p id="text09" class="text-component instance-9 style-6">
  <span class="p">
    <em>
      {rightPosts[2].data.genres.map((genre) => (
        <>
          {genre}<br />
        </>
      ))}
    </em>
  </span>
</p>

<p id="text10" class="text-component instance-10 style-9">
  {categoryLabels[rightPosts[2].data.category]}
</p>

<ul id="links01" class="links-component instance-1">
  <li class="n01">
    <a href={`/editorial/${rightPosts[2].id}`}>Read ⟶</a>
  </li>
</ul>

{rightPosts[2].data.topLabel && (
  <p id="text11" class="text-component instance-11 style-23">
    {rightPosts[2].data.topLabel}
  </p>
)}
  </>
)}


								</div>
							</div>
						</div>
					</div>
					<div id="container03" class="container-component instance-3 style-1 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									<hr id="divider04" class="divider-component instance-4 style-13">
                                    <ul id="links09" class="links-component instance-9">
										<li class="n01">
											<a href="/">← Home</a>
										</li>
									</ul>
									<ul id="links09" class="links-component instance-9">
										<li class="n01">
											<a href="https://www.instagram.com/undergroundmusicsquad" target="_blank">Instagram →</a>
										</li>
									</ul>
									<ul id="links10" class="links-component instance-10">
										<li class="n01">
											<a href="https://open.spotify.com/user/0plns05vdbfkzf07f0i6rs4b0" target="_blank">Spotify →</a>
										</li>
									</ul>
									<ul id="links11" class="links-component instance-11">
										<li class="n01">
											<a href="https://www.youtube.com/@undergroundmusics" target="_blank">youtube →</a>
										</li>
									</ul>
									<ul id="links12" class="links-component instance-12">
										<li class="n01">
											<a href="https://soundcloud.com/undergroundmusicsquad" target="_blank">soundcloud →</a>
										</li>
									</ul>
									<ul id="links07" class="links-component instance-7">
										<li class="n01">
											<a href="https://sbmt.to/um-squad" target="_blank">SUBMIT MUSIC →</a>
										</li>
									</ul>
								</div>
								<div>
									<div id="table02" class="table-component instance-2 style-1">
										<div class="inner">
											<table>
												<tbody>
													<tr>
														<td>
															{currentPage > 1 ? (
																<a href={currentPage === 2 ? '/editorial' : `/editorial/page/${currentPage - 1}`}>←</a>
															) : (
																<span>←</span>
															)}
														</td>
														{Array.from({ length: totalPages }, (_, i) => {
															const pageNumber = i + 1;
															const href = pageNumber === 1 ? '/editorial' : `/editorial/page/${pageNumber}`;

															return (
																<td>
																	{currentPage === pageNumber ? (
																		<span>{pageNumber}</span>
																	) : (
																		<a href={href}>{pageNumber}</a>
																	)}
																</td>
															);
														})}
														<td>
															{currentPage < totalPages ? (
																<a href={`/editorial/page/${currentPage + 1}`}>→</a>
															) : (
																<span>→</span>
															)}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script is:inline src="/assets/editorial/main.js"></script>
	</body>
</html>