---
import Seo from '../components/Seo.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('editorial', ({ data }) => !data.draft);

const latestPosts = posts
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const [post1, post2, post3] = latestPosts;

const genres = [
  ...new Set(
    posts.flatMap((post) => post.data.genres ?? [])
  ),
].sort((a, b) => a.localeCompare(b));

const slugify = (value) =>
  value
    .toLowerCase()
    .trim()
    .replace(/&/g, 'and')
    .replace(/[^a-z0-9]+/g, '-')
    .replace(/^-+|-+$/g, '');

const categoryLabels = {
  'track-of-the-day': 'Track of the Day',
  'track-of-the-week': 'Track of the Week',
  'track-of-the-month': 'Track of the Month',
  interview: 'Interview',
  review: 'Review',
  'featured-album': 'Featured Album',
};


const seoTitle = 'Underground Music Squad | Independent Music Curation';
const seoDescription = 'Independent music curation and editorial project founded in 2020, discovering emerging artists through playlists, reviews, interviews and underground music features.';
const seoKeywords = ['underground music', 'independent music', 'music curation', 'playlists', 'synthpop', 'post-punk', 'shoegaze', 'darkwave'];
const homeJsonLd = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: 'Underground Music Squad',
  url: 'https://undergroundmusic.party',
  inLanguage: 'en',
};

const formatDate = (date) =>
  date.toLocaleDateString('en-US', {
    day: '2-digit',
    month: 'short',
    year: 'numeric',
  });
---

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light only" />
		<Seo title={seoTitle} description={seoDescription} path="/" keywords={seoKeywords} jsonLd={homeJsonLd} />
		<link href="https://fonts.googleapis.com/css2?display=swap&family=Instrument+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/home/main.css" />
		<noscript><link rel="stylesheet" href="/assets/home/noscript.css" /></noscript>
		
	</head>
	<body class="is-loading">
		<div class="site-wrapper">
			<div class="site-main" role="main">
				<div class="inner">
					<hr id="divider04" class="divider-component instance-4 style-7">
					<div id="container01" class="container-component instance-1 style-1 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									<h1 id="text40" class="text-component instance-40 style-14">UNDERGROUND</h1>
									<p id="text02" class="text-component instance-2 style-18">MUSIC</p>
									<h1 id="text03" class="text-component instance-3 style-16">SQUAD</h1>
								</div>
								<div>
									<h1 id="text41" class="text-component instance-41 style-19">SINCE 2020</h1>
									<h1 id="text42" class="text-component instance-42 style-20">SINCE 2020</h1>
									<h1 id="text43" class="text-component instance-43 style-21">SINCE 2020</h1>
									<h1 id="text08" class="text-component instance-8 style-22">SINCE 2020</h1>
								</div>
							</div>
						</div>
					</div>
					<h1 id="text50" class="text-component instance-50 style-1"><strong>Hand-picked playlists beyond the algorithm.</strong></h1>
					<h1 id="text18" class="text-component instance-18 style-1"><span class="p"><em>Independent music curation<br />Updated weekly since 2020</em></span></h1>
					<div id="container04" class="container-component instance-4 style-3 columns">
						<div class="wrapper">
							<div class="inner" data-onvisible-trigger="1">
								<div>
									<ul id="links11" class="links-component instance-11 style-1">
										<li class="n01"><a href="https://www.instagram.com/undergroundmusicsquad" target="_blank">Instagram</a></li>
									</ul>
									<ul id="links09" class="links-component instance-9 style-1">
										<li class="n01"><a href="https://open.spotify.com/user/0plns05vdbfkzf07f0i6rs4b0" target="_blank">Spotify</a></li>
									</ul>
									<ul id="links10" class="links-component instance-10 style-1">
										<li class="n01"><a href="https://www.youtube.com/@undergroundmusicsquad" target="_blank">Youtube</a></li>
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://soundcloud.com/undergroundmusicsquad" target="_blank">Soundcloud</a></li>
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://tidal.com/artist/80940173" target="_blank">Tidal</a></li>

									
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://www.threads.com/@undergroundmusicsquad" target="_blank">Threads</a></li>

										
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://bsky.app/profile/umsquad.bsky.social" target="_blank">Bluesky</a></li>
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://t.me/undergroundmusicsquad" target="_blank">Telegram</a></li>
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://www.tumblr.com/undergroundmusicsquad" target="_blank">Tumblr</a></li>
									</ul>
									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://mastodon.social/@undergroundmusicsquad" target="_blank">Mastodon</a></li>
									</ul>

									<ul id="links08" class="links-component instance-8 style-1">
										<li class="n01"><a href="https://ru.pinterest.com/undergroundmusicsquad" target="_blank">Pinterest</a></li>
									</ul>

									<ul id="links13" class="links-component instance-13 style-1">
										<li class="n01"><a href="https://sbmt.to/um-squad" target="_blank">Submit music →</a></li>
									</ul>
									<ul id="links13" class="links-component instance-13 style-1">
										<li class="n01"><a href="https://ko-fi.com/undergroundmusicsquad" target="_blank">Support Underground Music Squad →</a></li>
									</ul>
									<script async src="https://subscribe-forms.beehiiv.com/v3/loader.js" data-beehiiv-form="83d0eedf-9fec-4d2a-af0d-444bc9246a94"></script>

								
									<div id="table01" class="table-component instance-1">
										<div class="inner">
											<table>
												<tbody>
													<tr><td>C</td></tr>
													<tr><td>U</td></tr>
													<tr><td>R</td></tr>
													<tr><td>A</td></tr>
													<tr><td>T</td></tr>
													<tr><td>D</td></tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div>
									<h1 id="text10" class="text-component instance-10 style-3"><span class="p">FEATURED<br />PLAYLISTS</span></h1>
									<hr id="divider01" class="divider-component instance-1 style-3">
									<p id="text07" class="text-component instance-7 style-23">SIDE A</p>
									<h2 id="text06" class="text-component instance-6 style-8">01</h2>
									<p id="text13" class="text-component instance-13 style-5">Psychedelic tapes</p>
									<p id="text38" class="text-component instance-38 style-4">✦</p>
									<p id="text22" class="text-component instance-22 style-4"><span class="p">floating guitars<br />lush vocals<br />hazy nights</span></p>
									<p id="text34" class="text-component instance-34 style-6"><span class="p"><em>psychedelic<br />shoegaze<br />dreampop</em></span></p>
									<p id="text09" class="text-component instance-9 style-9">50 tracks</p>
									<ul id="links04" class="links-component instance-4 style-2">
										<li class="n01"><a href="https://www.submithub.com/link/psychedelic-tapes-website" target="_blank">Open playlist →</a></li>
									</ul>
									<p id="text45" class="text-component instance-45 style-23">CURATED WEEKLY</p>
									<h2 id="text20" class="text-component instance-20 style-8">02</h2>
									<p id="text01" class="text-component instance-1 style-11">SYNTHPOP NOSTALGIA</p>
									<p id="text37" class="text-component instance-37 style-4">◆</p>
									<p id="text05" class="text-component instance-5 style-4"><span class="p">сlassic synthpop<br />new wave<br />dance electronics</span></p>
									<p id="text31" class="text-component instance-31 style-6"><span class="p"><em>SYNTHPOP<br />NEWWAVE<br />POSTPUNK</em></span></p>
									<p id="text12" class="text-component instance-12 style-9">~ 3 hours</p>
									<ul id="links01" class="links-component instance-1 style-2">
										<li class="n01"><a href="https://open.spotify.com/playlist/3hgRTJqIIFvOc2ETHwT9Ae" target="_blank">Open playlist →</a></li>
									</ul>
									<p id="text44" class="text-component instance-44 style-23">CURATED WEEKLY</p>
									<h2 id="text19" class="text-component instance-19 style-8">03</h2>
									<p id="text16" class="text-component instance-16 style-10">Doomer tapes</p>
									<h1 id="text39" class="text-component instance-39 style-4">◐</h1>
									<h1 id="text11" class="text-component instance-11 style-4"><span class="p">сold synths<br />grey cities<br />endless evenings</span></h1>
									<p id="text27" class="text-component instance-27 style-6"><span class="p"><em>postpunk<br />newwave<br />darkwave</em></span></p>
									<ul id="links03" class="links-component instance-3 style-2">
										<li class="n01"><a href="https://open.spotify.com/playlist/0itdJJVsb0HHFdBlsOzaln" target="_blank">Open playlist →</a></li>
									</ul>
									<p id="text35" class="text-component instance-35 style-23">CURATED WEEKLY</p>
									<ul id="links07" class="links-component instance-7">
										<li class="n01"><a href="https://sbmt.to/um-squad" target="_blank">SUBMIT MUSIC →</a></li>
									</ul>
								</div>
								<div>

								
									<ul id="buttons01" class="buttons-component instance-1 style-1">
										<li><a href="/editorial" class="n01" role="button">EDITORIAL</a></li>
									</ul>

									{post1 && (
										<>
											<p id="text04" class="text-component instance-4 style-9">{formatDate(post1.data.date)}</p>
											<h1 id="text15" class="text-component instance-15 style-15">{post1.data.title}</h1>
											<p id="text26" class="text-component instance-26 style-4">{post1.data.description}</p>
											<p id="text33" class="text-component instance-33 style-9">{categoryLabels[post1.data.category]}</p>
											<ul id="links06" class="links-component instance-6">
												<li class="n01"><a href={`/editorial/${post1.id}`}>Read ⟶</a></li>
											</ul>
											{post1.data.topLabel && (
												<p id="text48" class="text-component instance-48 style-23">{post1.data.topLabel}</p>
											)}
										</>
									)}

									{post2 && (
										<>
											<p id="text28" class="text-component instance-28 style-9">{formatDate(post2.data.date)}</p>
											<h1 id="text29" class="text-component instance-29 style-12">{post2.data.title}</h1>
											<p id="text30" class="text-component instance-30 style-4">{post2.data.description}</p>
											<p id="text32" class="text-component instance-32 style-9">{categoryLabels[post2.data.category]}</p>
											<ul id="links02" class="links-component instance-2">
												<li class="n01"><a href={`/editorial/${post2.id}`}>Read ⟶</a></li>
											</ul>
											{post2.data.topLabel && (
												<p id="text49" class="text-component instance-49 style-23">{post2.data.topLabel}</p>
											)}
										</>
									)}

									{post3 && (
										<>
											<p id="text21" class="text-component instance-21 style-9">{formatDate(post3.data.date)}</p>
											<h1 id="text25" class="text-component instance-25 style-12">{post3.data.title}</h1>
											<p id="text14" class="text-component instance-14 style-4">{post3.data.description}</p>
											<p id="text24" class="text-component instance-24 style-9">{categoryLabels[post3.data.category]}</p>
											<ul id="links05" class="links-component instance-5">
												<li class="n01"><a href={`/editorial/${post3.id}`}>Read ⟶</a></li>
											</ul>
											{post3.data.topLabel && (
												<p id="text46" class="text-component instance-46 style-23">{post3.data.topLabel}</p>
											)}
										</>
									)}

									<ul id="links12" class="links-component instance-12 style-1">
										<li class="n01"><a href="/editorial">View Editorial →</a></li>
									</ul>
									<br>
									<div class="home-genres">
  {genres.map((genre, index) => (
    <ul class={`links-component instance-${20 + index} style-1`}>
      <li class="n01">
        <a href={`/editorial/genre/${slugify(genre)}`}>
          → {genre}
        </a>
      </li>
    </ul>
  ))}
</div>
								</div>
							</div>
						</div>

												

					</div>
			

				</div>
			</div>
							

			
		</div>
		<script is:inline src="/assets/home/main.js"></script>
	</body>
</html>
